<div class="row">
  <h3>配送先編集</h3>

  <%= form_for(@ship_to_address) do |f| %>
  <table class="table table-bordered">
    <tr>
      <td>郵便番号</td>
      <td><%= f.text_field :post_number, autofocus: true %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, autofocus: true %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :phone_number, autofocus: true %></td>
    </tr>
    <tr>
      <td>(姓/名)</td>
      <td><%= f.text_field :last_name, autofocus: true %>/<%= f.text_field :first_name, autofocus: true %></td>
    </tr>
    <tr>
      <td>(セイ/メイ)</td>
      <td><%= f.text_field :last_kana, autofucus: true %>/<%= f.text_field :first_kana, autofucus: true %></td>
    </tr>
  </table>
</div>