<div class="row">
  <h2>配送先登録/一覧</h2>
  <div class="deliveries-register">
    <%= form_for(@delivery) do |f| %>
    <div class="form-grop">
      <%= f.text_field :post_number, placeholder: "郵便番号" %>
    </div>
    <div class="form-grop">
      <%= f.text_field :address, placeholder: "住所" %>
    </div>
    <div class="form-group">
      <%= f.text_field :name, autofocus: true, placeholder: "宛名" %>
    </div>
    <div class="row">
      <%= f.submit "登録する", class: "btn btn-primary btn-outline-danger" %>
    </div>
    <% end %>
  </div>
  <table class="table-bordered">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
    <% @deliveries.each do |delivery| %>
    <tr>
      <td><%= delivery.post_number %></td>
      <td><%= delivery.address %></td>
      <td><%= delivery.name %></td>
      <td>
        <%= link_to "編集する", edit_delivery_path(delivery.id), class: "btn btn-primary" %> <%= link_to "削除する", deliveries_path, method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>