<div class="row">
  <h2 class="mypage"><i class="fas fa-user"></i><%= @customer.full_name %>さんの会員詳細</h2>

  <div class="col-xs-10">
    <table class="table-content">
      <tr>
        <td>顧客ID</td>
        <td><%= @customer.id %></td>
        <td>
          <% if @customer.is_deleted? %>
            <p>有効会員</p>
          <% else %>
            <p>無効会員</p>
          <% end %>
          </td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.last_kana %><%= @customer.first_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.post_number %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
    <div class="btn-content">
      <p><%= link_to "編集", edit_admins_customer_path, class:"btn btn-primary" %>
      <p><%= link_to "注文履歴一覧", orders_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>v