<div class="row">
  <h2 class="mypage"><i class="fas fa-user"></i>マイページ</h2>
  <p class="under_mypage"><strong>登録情報</strong>
    <%= link_to "編集する", edit_customer_path(@customer.id), class:"btn btn-primary mypage_edit" %>
    <%= link_to "パスワードを変更する", edit_customer_registration_path, class:"btn btn-primary" %></p>
</div>
<div class="row">
  <div class="col-xs-8">
    <table class="table-content">
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.last_kana %><%= @customer.first_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.post_number %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
    <div class="btn-content">
      <p><strong>配送先</strong><%= link_to "一覧を見る", deliveries_path, class:"btn btn-primary" %>
      <p><strong>注文履歴</strong><%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>