<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="orders-infomation-view">注文情報入力</h3>

			<%=form_for(@order) do |f| %>
			<h4>支払方法</h4>
			 <label><%= f.radio_button :payment_method, "クレジットカード", checked: true  %>クレジットカード</label>

			 <label><%= f.radio_button :payment_method, "銀行振込" %>銀行振込</label><%#ラジオボタン_tag %>

			 <h4>お届け先</h4>
			 <input class="form-check-input" type="rudio" name="ご自身の住所" value="0">ご自身の住所
			 <label class="form-check-label"></label>
			 <%#label><%#=radio_button_tag "ご自身の住所","1", checked: true  %>ご自身の住所<%#/label>

			 <%="#{current_customer.post_number} #{current_customer.adress}"%>
			 <%="#{current_customer.post_number} #{current_customer.adress}"%><br>
			 <%="#{current_customer.first_name} #{current_customer.last_name}"%>

			 <input class="form-check-input" type="rudio" name="登録済み住所から選択" value="1">登録済み住所から選択
			 <label class="form-check-label"></label>

			 <%#label><%= radio_button_tag :adress, "登録済み住所" %>登録済み住所<%#/label>
			 <%= collection_select(:delivery_id, @deliveries, :id, :address) %>
			 <%#ここに選択窓%>
			 <%= collection_select(:delivery_id, @deliveries, :id, :address) %>

			 <%#label><%#= radio_button_tag :adress, "新しいお届け先" %>新しいお届け先<%#/label>

			 <h5 class="new_post_number">郵便番号(ハイフンなし)<%=f.text_field :post_number %></h5>
			 <h5 class="new_adress">住所<%=f.text_field :adress %></h5>
			 <h5 class="new_name">宛名<%=f.text_field :name%></h5>


			 <%=f.submit "確認画面へ進む" %>
			 <% end %>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
