<div class="row">

<h3>商品一覧</h3>
	<p class="new_itembtn">
		<%= link_to '', new_admins_item_path, class: 'lyphicon glyphicon-plus' %>
	</p>
	<table class="table table-hover table-inverse">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税込価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @items.each do|item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= link_to item.name, admins_item_path(item) %></td>
					<td><%= item.price.to_s(:delimited) %></td>
					<td><%= item.genre.name %></td>
					<td><% if item.is_active? %>
							<p>販売中</p>
						<% else %>
							<p>販売不可</p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>

	</table>
</div>