<div class="row">
  <h1 class="item-title">商品詳細</h1>
  <div class="col-xs-3">
    <div class="item-img">
      <%= attachment_image_tag @item, :image, size: "200x200", fallback: "no_image.jpg" %>
    </div>
  </div>
  <div class="col-xs-9">

    <ul class="item-detail">
      <li class="admins-item-detail-title">商品名</li>
      <li class="admins-item-detail-content"><%= @item.name %></li>
    </ul>

    <ul class="item-detail">
      <li class="admins-item-detail-title">商品説明</li>
      <li class="admins-item-detail-content"><%= @item.introduction %></li>
    </ul>

    <ul class="item-detail">
      <li class="admins-item-detail-title">ジャンル</li>
      <li class="admins-item-detail-content"><%= @item.genre.name %></li>
    </ul>

    <ul class="item-detail">
      <li class="admins-item-detail-title">税込価格(税抜価格)</li>
      <li class="admins-item-detail-content">
        <%= price_include_tax(@item.price) %> (<%= @item.price.to_s(:delimited) %>)円
      </li>
    </ul>

    <ul class="item-detail">
      <li class="admins-item-detail-title">販売ステータス</li>
      <li class="admins-item-detail-content">
        <% if @item.is_active? %>
        販売中
        <% else %>
        販売不可
        <% end %>
      </li>
    </ul>

    <ul class="item-detail">
      <%= link_to '編集', edit_admins_item_path(@item) ,class: "btn btn--orange btn--cubic btn--shadow" %>
    </ul>
  </div>
</div>