<div class="row">
  <h2>商品詳細</h2><br>

  <div class="col-xs-4">
    <%= attachment_image_tag @item, :image, size: "200x200", fallback: "no_image.jpg" %><br>
  </div>

  <div class="col-xs-8">
    <h4 class="item_details">
      <%= @item.name %>
    </h4>

    <h4 class="item_details">商品説明</h4>
    <div class="item_details_flex">
      <%= @item.introduction %>
    </div>
  </div>


  <h4 class="item_details">
    ¥<%= @item.price.to_s(:delimited) %> (税込)
  </h4>

  <div class="item-counts">
    <%= form_for(@cart_item, url: cart_items_path) do |f| %>
    <%= f.hidden_field :item_id %>
    <%= f.select :amount, options_for_select((1..30).to_a), include_blank: "個数選択" %>
    <%= f.submit "カートに入れる",class:"btn btn-primary" %>
    <% end %>
  </div>


</div>
</div>